{{define "instrument.tmpl"}}
<!doctype html>
<html lang="en">
{{template "head" .}}
<body>
{{template "top" .}}
<!-- Begin page content -->
<main role="main" class="container">
<div class="container" id="con">	
<h4><span class="badge badge-light">{{.account.id}}</span><span class="badge badge-light">{{.ins.type}}</span><a href="javascript:void(0)" onclick="RunIns({{$.ins.account.uid}},{{.ins.id}})" class="badge badge-secondary" id = "run">{{.ins.name}}</a></h4>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item"><a class="nav-link active"  href="#none" aria-controls="none" role="tab" data-toggle="tab">none</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#day" aria-controls="day" role="tab" data-toggle="tab">day</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#week" aria-controls="week" role="tab" data-toggle="tab">week</a></li>
    <li role="presentation" class="nav-item"><a class="nav-link" href="#month" aria-controls="month" role="tab" data-toggle="tab">month</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="none">
	<div class="table-responsive-sm">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">OrderId</th>
	      <th scope="col">Pl</th>
	      <th scope="col">GamePl</th>
	      <th scope="col">Duration</th>
	      <th scope="col">EndTime</th>
	    </tr>
	  </thead>
	  <tbody id="rundb"> 
	  </tbody>
	</table>	
       </div>
      </div>
    <div role="tabpanel" class="tab-pane" id="day">
      <div class="table-responsive-sm">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">OrderCount</th>
	      <th scope="col">Pl</th>
	      <th scope="col">GamePl</th>
	      <th scope="col">EndTime</th>
	    </tr>
	  </thead>
	  <tbody id="daydb"> 
	  </tbody>
	</table>	
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="week">
      <div class="table-responsive-sm">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">OrderCount</th>
	      <th scope="col">Pl</th>
	      <th scope="col">GamePl</th>
	      <th scope="col">EndTime</th>
	    </tr>
	  </thead>
	  <tbody id="weekdb"> 
	  </tbody>
	</table>	
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="month">
      <div class="table-responsive-sm">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">OrderCount</th>
	      <th scope="col">Pl</th>
	      <th scope="col">GamePl</th>
	      <th scope="col">EndTime</th>
	    </tr>
	  </thead>
	  <tbody id="monthdb"> 
	  </tbody>
	</table>	
      </div>
    </div>
    <div class="table-responsive-sm">
	<table class="table table-sm">
	  <tbody id="enddb"> 
	  </tbody>
        </table>
    </div>
  </div>
</div>
</div>	    
</main>
{{template "footer" .}}
<script>
const ro = {{.ins.displayPrecision}};
var Datetabs = {
	createNew: function(idName,check){
		var datetabs = {};
		datetabs.count=0;		
		datetabs.endtime= 0;
		//datetabs.end= new Date();
		datetabs.sum=0.0 ;
		datetabs.sumgame= 0.0;
		datetabs.idname = idName;
		datetabs.clear = function(){
			datetabs.count=0;
			datetabs.sum=0.0 ;
			datetabs.sumgame= 0.0;
		};
		datetabs.clearHtml = function(){
			$('#'+datetabs.idname+' #tmp').remove();
			
		}
		datetabs.appendHtml=function(datetime){
			datetabs.clearHtml();
			var idn = "complete";
			if (datetime == 0) {
				idn = "tmp";
				datetime = datetabs.endtime;
			};
			var endtime= new Date();
			endtime.setTime(datetime*1000);		
			$('#'+datetabs.idname).append('<tr id="'+idn+'"><th scope="row">'+datetabs.count+'</th><td>'+datetabs.sum+'</td><td>'+datetabs.sumgame+'</td><td>'+endtime.toLocaleString()+'</td></tr>');
			
			//datetabs.end.setTime(datetabs.endtime*1000);
		};
		datetabs.Update = function(datetime,pl,gamepl){
			if (datetabs.Check(datetabs.endtime,datetime)){
				datetabs.appendHtml(datetabs.endtime);
				datetabs.clear();
			};
			datetabs.count++;
			datetabs.sum += pl;
			datetabs.sumgame += gamepl;
			datetabs.endtime = datetime;			
		};
		datetabs.Check = check;
		return datetabs;
	}
}
var Nonetabs = {
	createNew: function(){
		var nonetabs = {};
		nonetabs.orderid=0;
		nonetabs.count=0;
		nonetabs.diffCount=0;
		nonetabs.ibegin=0;
		nonetabs.begin=0;
		nonetabs.end=0;
		nonetabs.sum=0.0;
		nonetabs.sumgame= 0.0;
		nonetabs.endtime= new Date();		
		nonetabs.appendHtml=function(pl,gamepl){
			nonetabs.endtime.setTime(nonetabs.end*1000);
			var tDiff = timeDiff(nonetabs.begin,nonetabs.end);
			if (tDiff==='0s'){
				nonetabs.diffCount++;
			}
			$('#rundb').append('<tr><th scope="row">'+nonetabs.orderid+'</th><td>'+pl+'</td><td>'+gamepl+'</td><td>'+tDiff+'</td><td>'+nonetabs.endtime.toLocaleString()+'</td></tr>');
		};
		nonetabs.Update = function(db,pl,gamepl){			
			nonetabs.count++;
			if (nonetabs.ibegin === 0){
				nonetabs.ibegin = db.beginTime;
			}
			nonetabs.orderid = db.id;
			nonetabs.end = db.endTime;
			nonetabs.sumgame+=gamepl;
			nonetabs.sum+=pl;
			nonetabs.begin = db.beginTime;
			nonetabs.appendHtml(pl,gamepl);
		};		
		return nonetabs;
	}
};
var nonetabs = Nonetabs.createNew();
var daytabs = Datetabs.createNew('daydb',function(date1,date2){
	if (date1 == 0) {
		return false;	
	}
	var da1 = new Date();
	da1.setTime(date1*1000);
	var da2 = new Date();
	da2.setTime(date2*1000);
	return (da1.getDate() !=da2.getDate());
});
var weektabs = Datetabs.createNew('weekdb',function(date1,date2){
	if (date1 == 0) {
		return false;	
	}
	var da1 = new Date();
	da1.setTime(date1*1000);
	var da2 = new Date();
	da2.setTime(date2*1000);
	return (da1.getDay() > da2.getDay());

});
var monthtabs = Datetabs.createNew('monthdb',function(date1,date2){
	if (date1 == 0) {
		return false;	
	}
	var da1 = new Date();
	da1.setTime(date1*1000);
	var da2 = new Date();
	da2.setTime(date2*1000);
	return (da1.getMonth() !=da2.getMonth());

});

function RunIns(uid,id){
	$.getJSON("/run/"+uid+"/"+id,function(data,status){
		$("#con").prepend('<div class="alert alert-warning alert-dismissible fade show" role="alert"><strong>'+status+'</strong> start run '+data.rundb.name+'.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
		//$('#run').append('<a class="dropdown-item" href="/view/'+data.rundb.account.uid+'/'+data.rundb.id+'">'+ data.rundb.name+'</a>');
	});

};

function GetDB(){
	$.getJSON('/report/{{$.ins.account.uid}}/{{.ins.id}}?content_type=json&orderid='+nonetabs.orderid,function(data) {	
		data.db.forEach(function(db){
			pl = db.pl;
			gamepl =  Math.floor(Math.pow(10,ro)*db.gamePl);			
			nonetabs.Update(db,pl,gamepl);
			daytabs.Update(db.endTime,pl,gamepl);
			weektabs.Update(db.endTime,pl,gamepl);	
			monthtabs.Update(db.endTime,pl,gamepl);
		});
		daytabs.appendHtml(0);
		weektabs.appendHtml(0);
		monthtabs.appendHtml(0);
		//HandleNoneData(data);		
		$('#enddb').empty();
		$('#enddb').append('<tr id="report"><td scope="row">Count('+nonetabs.count+')</td><td scope="row">DiffCount('+nonetabs.diffCount+')</td><td scope="row">'+nonetabs.sum+'</td><td scope="row">'+nonetabs.sumgame+'</td><td scope="row">'+timeDiff(nonetabs.ibegin,nonetabs.end)+'</td><td scope="row"><a href="javascript:void(0)" onclick="GetDB()"  class="badge badge-secondary"  >more</a></td></tr>');
	});
}
function timeDiff(begin,end){
	var s = (end - begin);
	var m = Math.floor(s/60);
	if (m === 0) {
		return s+'s';	
	}
	s = s%60;
	var h = Math.floor(m/60);
	
	if (h===0){
		return m+'m'+s+'s';
	}
	m = m%60;
	var d = Math.floor(h/24);
	if (d===0){
		return h+'h'+m +'m' + s+'s';
	}
	h = h%24
	return d+'d'+h+'h'+m +'m' + s+'s';
}	

$(function(){
	GetDB();
 });
</script>

</body>
</html>
{{end}}
