{{define "report.tmpl"}}
{{template "head" .}}
{{$zero := 0.0}}
  <body>

    {{template "top" .}}
    <!-- Begin page content -->
    <main role="main" class="container">
	<div class="container">
	<div class="table-responsive-sm">
	<table class="table table-sm">
	  <thead>
	    <tr>
	      <th scope="col">OrderId</th>
	      <th scope="col">Pl</th>
	      <th scope="col">GamePl</th>
	      <th scope="col">BeginTime</th>
	      <th scope="col">EndTime</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .db}}
	    <tr>	
	      <th scope="row">{{.id}}</th>
	      <td>{{if eq .pl $zero}}load{{else}}{{.pl}}{{end}}</td>
	      <td>{{.gamePl}}</td>
	      <td>{{.beginTime}}</td>
	      <td>{{.endTime}}</td>
	    </tr>
	    {{end}}
	  </tbody>
	</table>

	</div>
	</div>    
    </main>

    {{template "footer" .}}
  </body>
</html>
{{end}}
